.heading {
  text-align: center;
  font-size: xx-large;
  color: red;
}

.form-style {
  display: flex;
  border-radius: 5px;
  margin-left: 450px;
  margin-right: 450px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(180, 179, 179);
  font-family: 'Courier New', Courier, monospace;
  color: darkred;
  font-weight: bold;
  font-size: larger;
  -webkit-text-stroke-width: .5px; 
  -webkit-text-stroke-color: rgb(252, 249, 249);
}

.form-style h1 {
  text-align: center;
}

.form-fields {
  width: 100%;
  padding-bottom: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 7px;
  margin-bottom: 14px;
  resize: vertical 
}

input[type=checkbox], select, textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 7px;
}


input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}